@font-face {
  font-family: "Hanken";
  src: url("assets/fonts/HankenGrotesk-VariableFont_wght.ttf") format("truetype");
}

html {
  background-color: hsl(221, 100%, 96%);
  height: 100vh;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
}

.bluebox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-radius: 10px;
  height: 320px;
  width: 225px;
}

.bluebox p {
  font-family: Hanken;
  color: white;
}

.whitebox {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 320px;
  width: 225px;
  padding: 0px 10px 0px 10px;
}

.summary {
  margin-left: 8px;
}

.lightred {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsla(0, 100%, 67%, 0.247);
  color: hsl(0, 100%, 67%);
  border-radius: 5px;
  height: 30px;
  margin: 0.5rem;
  font-size: 13px;
}

.lightredFP {
  display: flex;
}


.orangeyellow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsla(39, 100%, 56%, 0.308);
  color: hsl(39, 100%, 56%);
  border-radius: 5px;
  height: 30px;
  margin: 0.5rem;
  font-size: 13px;
}

.orangeyellowFP {
  display: flex;
}


.greenteal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsla(166, 100%, 37%, 0.288);
  color: hsl(166, 100%, 37%);
  border-radius: 5px;
  height: 30px;
  margin: 0.5rem;
  font-size: 13px;
}

.greentealFP {
  display: flex;
}

.cobaltblue {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:hsla(234, 85%, 45%, 0.288);
  color: hsl(234, 85%, 45%);
  border-radius: 5px;
  height: 30px;
  margin: 0.5rem;
  font-size: 13px;
}

.cobaltblueFP {
  display: flex;
}

.whitebox p {
  font-family: Hanken;
}

.circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 116px;
  width: 116px;
  border-radius: 62.5px;
  background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}

.circle .circlenumber {
  font-size: 40px;
  margin-top: 25px;
  margin-bottom: 0px;
}

.of {
  margin-top: 0px;
  font-size: 12px;
}

.great {
  font-size: 20px;
  margin: 0px;
}

.greattext {
  font-size: 13px;
}

.greatbox {
  display: flex;
  flex-direction: column;
  place-items: center;
  text-align: center;
  margin: 18px;
}

.result {
  margin-top: 20px;
}

button {
  border-radius: 25px;
  background-color: hsl(224, 30%, 27%);
  border: none;
  padding: 0px;
  width: 200px;
  margin: 0.7rem;
}

button p {
  color: white;
}
