@font-face {
  font-family: "Hanken";
  src: url("assets/fonts/HankenGrotesk-VariableFont_wght.ttf") format("truetype");
}

html {
  background-color: hsl(221, 100%, 96%);
  height: 100vh;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
}

.bluebox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-radius: 10px;
  height: 320px;
  width: 225px;
}

.bluebox p {
  font-family: Hanken;
  color: white;
}

.whitebox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 320px;
  width: 225px;
}

.whitebox p {
  font-family: Hanken;
}

.circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 116px;
  width: 116px;
  border-radius: 62.5px;
  background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}

.circle .circlenumber {
  font-size: 40px;
  margin-top: 25px;
  margin-bottom: 0px;
}

.of {
  margin-top: 0px;
  font-size: 12px;
}

.great {
  font-size: 20px;
  margin: 0px;
}

.greattext {
font-size: 13px;
}

.greatbox {
  display: flex;
  flex-direction: column;
  place-items: center;
  text-align: center;
  margin: 18px;
}

.result {
  margin-top: 20px;
}

button {
  border-radius: 10px;
  background-color: hsl(224, 30%, 27%)
}

